h2 {
  color: #2c373a;
  font-size: 35px;
  padding-left: 40px;
}

p {
  font-size: 40px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #f0edd0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(53, 51, 51);
  box-shadow: 2px 2px 8px 2px #5b6470b6;
}

.App-link {
  color: #4d5355;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  /* margin: 0 50px 0 50px; */
  background: #deeff5;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  margin: 20px;
  color: #2c373a;
}
